h1{
    text-align: center;
    text-decoration: underline;
}
/* #firstUpper{
   
} */
#firstUpper:checked~p{
     text-transform: uppercase;
}
#firstLower:checked~p{
     text-transform: lowercase;
}
#firstCapitalize:checked~p{
     text-transform: capitalize;
}
#secondBlack:checked~p{
    color: black;
}
#secondRed:checked~p{
    color: red;
}
#secondBlue:checked~p{
    color: blue;
}
#Thirdunderline:checked~p{
    text-decoration: underline;
}
#Thirdoverline:checked~p{
    text-decoration: overline;
}
#Thirdline-through:checked~p{
    text-decoration: line-through;
}
#Fourleft:checked~p{
    text-align: left;
}
#Fourright:checked~p{
    text-align: right;
}
#Fourcenter:checked~p{
    text-align: center;
}
#Fivex-axis:checked~p{
    text-shadow: 10px 0px 3px black;
}
#Fivey-axis:checked~p{
    text-shadow: 0px 5px 3px black;
}
#Fivex-yaxis:checked~p{
    text-shadow: 0px 0px 3px black;
}